<% if notice %>
  	<div class="alert alert-block alert-success fade in">
      <%= notice %>
  	</div>
<% end %>
<div class="col-sm-12" style="display:table; height: 500px">
    <div style="display: table-cell; text-align: center; vertical-align: middle;">
        <h1 style="font-size: 60px">Bem Vindo ao Projeto Repense!</h1>
    </div>
</div>